@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	border: none;
}

#header {
	background-color: #CC3300;
}

#mainPageHeading {
	color: black;
	font-family: "Courier New", monospace;
	font-style: italic;
	text-align: center;
}

ul.Nav {
	text-align: center;
}

ul.Nav>li {
	display: inline;
	text-decoration: none;
	padding: 5px 10px;
	color: white;
	background-color: black;
	margin-left: 5px;
	margin-right: 5px;
}

ul.Nav>li>a {
	display: inline;
	text-decoration: none;
	padding: 5px 10px;
	color: white;
	background-color: black;
	margin-left: 5px;
	margin-right: 5px;
}

#loginAndRegisterContainer{
	text-align:center;
}

#loginForm {
	background-color: black;
	padding: 1%;
	display: none;
		
}

#registerForm {
	background-color: black;
	padding: 1%;
	display: none;
		
}

form.dropDownForm{
	display:inline;
}