@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	border: none;
}

#header {
	background-color: #CC3300;
	background-attachment: fixed;
	position:fixed;
	width: 100%;
}

#mainPageHeading {
	color: black;
	font-family: "Courier New", monospace;
	font-style: italic;
	text-align: center;
}

ul.Nav {
	text-align: center;
	position:absolute;
	width:100%;
}

ul.Nav>li {
	display: inline-table;
	text-decoration: none;
	padding: 5px 10px;
	color: white;
	background-color: black;
	margin-left: 5px;
	margin-right: 5px;
}

ul.Nav>li>a {
	text-decoration: none;
	color: white;
	display: inline-block;
}

#loginForm {
	background-color: black;
	padding: 1%;
	display: none;
}

#registerForm {
	background-color: black;
	padding: 1%;
	display: none;
}

form.dropDownForm {
	display: inline;
}

#content {
	background-image: url("http://localhost/JSNWeb/images/content.jpg");
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	
  	height: 800px;
  	width: 1600px;
  	vertical-align: middle;
  	text-align: center;
  	display:table-cell;
	
}

#loginLabel{
	color: black;
	font-family: Zapf Chancery, cursive;
	
	display: inline-block;
  	width: 250px; height: 100px;
}

#CalenderContainer{
	
	display: inline-block;
  	width: 600px; height: 400px;
  	background-color: black;
	
}

table{
	margin: 0 auto;
	width: 600px; height: 400px;
}

tr{
	color: black;
	background-image: url("http://localhost/JSNWeb/images/road.jpg");
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}